<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-6 offset-3">
    <h1 class="text-center">New Campground</h1>
    <form
      action="/campgrounds"
      method="post"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="invalid-feedback">
          Please provide a title for campground
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="invalid-feedback">
          Please provide a location for campground
        </div>
      </div>
      <div class="mb-3">
        <input type="file" name="image" id="" multiple />
        <!-- <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          required
        />
        <div class="invalid-feedback">
          Please provide an image URL for campground
        </div> -->
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          name="campground[description]"
          required
        ></textarea>
        <div class="invalid-feedback">
          Please provide a description for campground
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="price-label">₺</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            id="price"
            name="campground[price]"
            required
          />
          <div class="invalid-feedback">
            Please provide a nightly price for campground
          </div>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">Cancel</a>
  </div>
</div>
